{% if head_html is defined -%}
{{ head_html or "" }}
{%- endif %}

{%- if theme and theme.name != 'Standard' -%}
<link type="text/css" rel="stylesheet" href="{{ theme.theme_url }}">
{{ include_style('website.bundle.css') }}
{{ include_style('kensingtonbn.bundle.css') }}

{{ include_script('frappe-web.bundle.js') }}
{%- else -%}
<!-- <link type="text/css" rel="stylesheet" href="assets/kensingtonbn/css/kensingtonbn.css"> -->
{{ include_style('website.bundle.css') }}
{{ include_style('kensingtonbn.bundle.css') }}

<!--  -->
{%- endif -%}

{%- for link in web_include_css %}
{{ include_style(link) }}
{%- endfor -%}

